{% extends "layout.html" %}

{% block title %}
About page
{% endblock %}

{% block content %}
<h1 class="text-3xl self-center">About Page:</h1>
<div class="bg-green-400 text-2xl ">
     <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel provident blanditiis, earum officia ad enim veniam consequuntur deserunt quae est, tempora voluptatem doloremque alias corporis adipisci iusto vitae praesentium.
          Dolores, dicta. Commodi expedita enim delectus culpa blanditiis consectetur odit at, cupiditate, error dignissimos nihil quam, ea labore nesciunt quisquam voluptatibus. Saepe in ipsa consequuntur velit qui? Incidunt, facilis tempore.
     </div>
</div>
{% endblock %}